﻿@using Perpustakaan.datamodels;
@model MAnggotum

<div class="card">
    <div class="card-body d-flex">


        <form asp-action="SureDelete" method="post" id="form_delete">


            <input style="width: 400px;" type="text" class="form-control" id="CreatedBy" Name="CreatedBy" oninput="check_valid()" value="1" hidden>
            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" />

            <div class="mb-4 mt-4 card-body">Anda akan menghapus Anggota <b>@Model.Fullname ?</b></div>

            <div class="row col-12">
                <div class="col-7"></div>
                <div class="col-3">
                    <a class="btn btn-outline-primary" asp-controller="Anggota" asp-action="Index">Tidak</a>

                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">
                        Ya
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>

    $("#form_delete").validate
        ({
            submitHandler: function (form) {

                var id = $("#Id").val()
                var modifedby = $("#CreatedBy").val()

                $.ajax
                    ({
                        url: '/Anggota/SureDelete',
                        type: "post",
                        data: { id: id, modifedby: modifedby },
                        dataType: "json",
                        success: function (respon) {
                            var data = respon.dataRespon

                            if (data.success) {

                                $("#my_modal").modal("hide")
                                Swal.fire({
                                    icon: "success",
                                    title: "Data Berhasil Dihapus",
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(function () {
                                    window.location.reload()
                                })
                            }
                            else {
                                alert("Gagal Menghapus")
                            }

                        }
                    })

            }

        })

</script>