﻿@using Perpustakaan.datamodels;
@model MAnggotum
<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post" id="form_input">


            <input type="hidden" class="form-control" id="Id" Name="Id" value="@Model.Id">

            <div class="row">
                <div class="mb-2 col-6 mt-4">
                    <label for="Name" class="col-sm-4 col-form-label">Fullname*</label>
                </div>
                <div class="mb-2 col-6 mt-4">
                    <label for="Kategori" class="col-sm-4 col-form-label">Kategori*</label>
                </div>

            </div>
            <div class="row">
                <div class="mb-2 col-5" style="width:410px;">
                    <input type="text" class="form-control" id="Fullname" Name="Fullname" oninput="check_valid()" value="@Model.Fullname" readonly>
                    <span id="validate_Name" class="text-danger"></span>
                </div>
                <div class="col-1"></div>
                <div class="mb-2 col-5" style="width:410px;">
                    <input type="text" class="form-control" id="Kategori" Name="Kategori" oninput="check_valid()" value="@Model.Kategori" readonly>
                </div>
            </div>
            <div class="row">
                <div class="mb-2 col-6 mt-4">
                    <label for="Username" class="col-sm-4 col-form-label">Username*</label>
                </div>
                <div class="mb-2 col-6 mt-4">
                    <label for="Password" class="col-sm-4 col-form-label">Password*</label>
                </div>
            </div>
            <div class="row">
                <div class="mb-2 col-5" style="width:410px;">
                    <input type="text" class="form-control" id="Username" Name="Username" oninput="check_valid()" value="@Model.Username" readonly>
                </div>
                <div class="col-1"></div>
                <div class="mb-2 col-5" style="width:410px;">
                    <input type="text" class="form-control" id="Password" Name="Password" oninput="check_valid()" value="@Model.Password" readonly>
                </div>
            </div>
            <div class="row">
                <div class="mb-2 col-6 mt-4">
                    <label for="Email" class="col-sm-4 col-form-label">Email*</label>
                </div>
                <div class="mb-2 col-6 mt-4">
                    <label for="Alamat" class="col-sm-4 col-form-label">Alamat*</label>
                </div>
            </div>
            <div class="row">
                <div class="mb-2 col-5" style="width:410px;">
                    <input type="text" class="form-control" id="Email" Name="Email" oninput="check_valid()" value="@Model.Email" readonly>
                </div>
                <div class="col-1"></div>
                <div class="mb-2 col-5" style="width:410px;">
                    <input type="text" class="form-control" id="Alamat" Name="Alamat" oninput="check_valid()" value="@Model.Alamat" readonly>
                </div>
            </div>
            <div class="row">
                <div class="mb-2 col-6 mt-4">
                    <label for="Gender" class="col-sm-4 col-form-label">Gender*</label>
                </div>

                <div class="mb-2 col-6 mt-4">
                    <label for="Phone" class="col-sm-4 col-form-label">Phone*</label>
                </div>
            </div>
            <div class="row">
                <div class="mb-2 col-5" style="width:410px;">
                    <input type="text" class="form-control" id="Gender" Name="Gender" oninput="check_valid()" value="@Model.Gender" readonly>
                </div>

                <div class="col-1"></div>
                <div class="mb-2 col-5" style="width:410px;">
                    <input type="text" class="form-control" id="Phone" Name="Phone" oninput="check_valid()" value="@Model.Phone" readonly>
                </div>
            </div>

            <div class="mb-4 mt-5 row">
                <div class="col-6"></div>
                <div class="col-2">
                    <a class="btn btn-light" asp-controller="Anggota" asp-action="Index">Batal</a>

                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">
                        Simpan
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>