﻿@using Perpustakaan.datamodels;
@model MBuku
@{
    ViewData["Title"] = "Delete Buku";
}
<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">
            @ViewData["Title"]
        </div>

        <form asp-action="SureDelete" method="post" id="form_delete">


            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" />

            <div class="h3 mb-4">Are you sure for delete @Model.Judul ?</div>



            <div class="mb-4 mt-5 row">
                <div class="col-6"></div>
                <div class="col-2">
                    <a class="btn btn-light" asp-controller="Buku" asp-action="Index">Batal</a>

                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">
                        Hapus
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>

<script>

    $("#form_delete").validate
        ({
            submitHandler: function (form) {

                var id = $("#Id").val()

                $.ajax
                    ({
                        url: '/Buku/SureDelete',
                        type: "post",
                        data: { id: id },
                        dataType: "json",
                        success: function (respon) {
                            var data = respon.dataRespon

                            if (data.success) {
                                $("#my_modal").modal("hide")

                                toastr.success
                                    (
                                        data.message,
                                        '',
                                        {
                                            timeOut: 500,
                                            fadeOut: 500,
                                            onHidden: function () {
                                                window.location.reload()
                                            }
                                        }
                                    )
                            }
                            else {
                                toastr.errorClass(data.message)
                            }

                        }
                    })

            }

        })

</script>