﻿@using Perpustakaan.datamodels;
@model MBuku
@{
    ViewData["Title"] = "Detail Buku";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">
            @ViewData["Title"]
        </div>

        <div class="mb-4 row ">
            <label for="Judul" class="col-sm-4 col-form-label">Judul</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Judul" Name="Judul" value="@Model.Judul" readonly>
                <span id="validate_NameCategory" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row ">
            <label for="Penerbit" class="col-sm-4 col-form-label">Penerbit</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Penerbit" Name="Penerbit" value="@Model.Penerbit" readonly>
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-sm-4">
                <a class="btn btn-light" asp-controller="Buku" asp-action="Index">
                    Kembali
                </a>
            </div>
        </div>

    </div>
</div>

