﻿@using Perpustakaan.datamodels;
@model MBuku
@{
    ViewData["Title"] = "Edit Buku";
}
<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">
            @ViewData["Title"]
        </div>

        <form asp-action="Edit" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" Name="Id" value="@Model.Id">

            <div class="mb-4 row ">
                <label for="Judul" class="col-sm-4 col-form-label">Judul</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Judul" Name="Judul" value="@Model.Judul">
                    <span id="validate_NameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row ">
                <label for="Penerbit" class="col-sm-4 col-form-label">Penerbit</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Penerbit" Name="Penerbit" value="@Model.Penerbit">
                </div>
            </div>

            <div class="mb-4 mt-5 row">
                <div class="col-6"></div>
                <div class="col-2">
                    <a class="btn btn-light" asp-controller="Buku" asp-action="Index">Batal</a>

                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">
                        Edit
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameCategory: {
                required: true,
                minlength: 3,
            }
        },
        messages: {
            NameCategory: {
                required: "Tolong Isi Judul",
                minlength: "Juduh Lebih Dari 3 Karakter",
            }
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()
            var nameCategory = $("#Judul").val()
            var id = $("#Id").val();

            $.ajax({
                url: "/Buku/CheckNameIsExsist",  
                type: "get", 
                data: { nameCategory: nameCategory, id: id }, 
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_NameCategory").text("Nama Judul Sudah Ada")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })
    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Buku/Edit",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 500,
                            fadeOut: 500,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )
                }
                else {
                    toastr.errorClass(data.message)
                }

            }
        })
    }

</script>
