﻿
@{
    ViewData["Title"] = "Data Buku";
}

<div class="card">
    <div class="card-body">

        <h1 class="card-title">@ViewData["Title"]</h1>
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">

                    <buttton id="btn_create" class="btn btn-primary">
                        Tambah
                    </buttton>

                    <form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
                        <div class="input-group w-100">

                            <input type="text" name="searchString" value="@ViewBag.CurrentFilter"
                                   class="form-control" placeholder="Search" />

                            <div class="input-group-prepend">

                                <button type="submit" class="input-group-text" title="search" id="btn_search">
                                    <i class="fas fa-search"></i>
                                </button>

                            </div>
                            <div class="input-group-prepend">

                                <a class="input-group-text" asp-action="Index" title="reset" id="btn_reset">
                                    <i class="fas fa-redo"></i>
                                </a>

                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </div>

        <table class="table table-hover mb-3">

            <thead>
                <tr>
                    <th>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-currentFilter="@ViewBag.CurrentFilter"
                           asp-route-pageSize="@ViewBag.CurrentPageSize">
                            Judul
                        </a>
                    </th>
                    <th>Penerbit</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                @if (Model.Count != 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Judul
                            </td>
                            <td>
                                @item.Penerbit
                            </td>
                            <td>
                                <a style="color:white" class="btn btn-success btn_edit" dataid="@item.Id">
                                    Edit
                                </a>
                                <a style="color:white" class="btn btn-warning btn_detail" dataid="@item.Id">
                                    Detail
                                </a>
                                <a style="color:white" class="btn btn-danger btn_delete" dataid="@item.Id">
                                    Hapus
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            Data Not Found
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
    <div class="card-footer">

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <div class="row">
            <div class="col-2">


                <form asp-action="Index" id="form_pagesize">
                    <select name="PageSize" id="PageSize" class="form-control">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </form>

            </div>
            Page @Model.PageIndex of @Model.TotalPages
            <div class="col-8">
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CurentSort"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @prevDisabled">
                    Previous
                </a>

            </div>
            <div class="col-0.5">
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CurentSort"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                   class="btn btn-info float-right @nextDisabled">
                    Next
                </a>
            </div>

        </div>

    </div>

</div>

<script>
    $("#btn_create").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Buku/Create")
        $("#my_modal").modal("show")
    })

    $(".btn_edit").click(function () {
        var id = $(this).attr("dataid") 
        $("#modal_body").empty()
        $("#modal_body").load("/Buku/Edit?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn_detail").click(function () {
        var id = $(this).attr("dataid") 
        $("#modal_body").empty()
        $("#modal_body").load("/Buku/Detail?id=" + id)
        $("#my_modal").modal("show")
    })

    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid") 
        $("#modal_body").empty()
        $("#modal_body").load("/Buku/Delete?id=" + id)
        $("#my_modal").modal("show")
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)

    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })
    $("#btn_search").click(function () {
        $("#sort_change").val("ViewBag.CurrentSort")
        $("#form_search").submit()
    })
</script>
