﻿

<div class="row">
    <div class="col-12 col-md-4">
        <a class="card text-center" style="cursor:pointer" href="Anggota/Index">
            <div class="card-title">
                <i class="ri-team-line ri-5x"></i>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Data Anggota</h5>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-4">
        <a class="card text-center" style="cursor:pointer" href="Buku/Index">
            <div class="card-title">
                <i class="ri-team-line ri-5x"></i>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Data Buku</h5>
            </div>
        </a>
    </div>
    
</div>
